<%= render 'shared/page_title', title: 'All Ingredients' %>

<ul class="nav nav-tabs">
    <li>
        <%= link_to "Recipes", recipes_path %>
    </li>
    <li>
        <%= link_to "Chefs", chefs_path %>
    </li>
    <li class="active">
        <%= link_to "Ingredients", ingredients_path %>
    </li>
    <li>
        <%= link_to "Styles", styles_path %>
    </li>
</ul>

<%= will_paginate %>

<hr/>
<% if @ingredients.any? %>
    <% @ingredients.each do |ingredient| %>
        <div class="row">
            <h4 class="center"> <%= link_to ingredient.name, ingredient_path(ingredient) %> </h4>
        </div>
        <hr/>
    <% end %>
<% else %>
    <div class="row">
        <h4 class="center"> Ingredients are empty. </h4>
    </div>
    <hr/>
<% end %>

<%= will_paginate %>