<%= render 'shared/page_title', title: 'All Styles' %>

<ul class="nav nav-tabs">
    <li>
        <%= link_to "Recipes", recipes_path %>
    </li>
    <li>
        <%= link_to "Chefs", chefs_path %>
    </li>
    <li>
        <%= link_to "Ingredients", ingredients_path %>
    </li>
    <li class="active">
        <%= link_to "Styles", styles_path %>
    </li>
</ul>

<%= will_paginate %>

<hr/>
<% if @styles.any? %>
    <% @styles.each do |style| %>
        <div class="row">
            <h4 class="center"> <%= link_to style.name, style_path(style) %>
            <% if current_user.admin? and ! style.recipes.any? %> 
                <%= link_to "Delete style", style, method: :delete,  data: {confirm: "Are you sure?"},class: "btn btn-danger" %>
            <% end unless current_user.nil? %>
            </h4>
        </div>
        <hr/>
    <% end %>
<% else %>
    <div class="row">
        <h4 class="center"> Styles are empty. </h4>
    </div>
    <hr/>
<% end %>
<%= will_paginate %>